@font-face {
  font-family: 'WeatherIcons';
  src: url('fonts/WeatherIcons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.weather {
  /*display:inline-block;
  position: relative;
  top: 5px;*/
  font-family: 'WeatherIcons';
  font-size:40px;
}

body {
  box-sizing: border-box;
  background-color: LIGHTSKYBLUE;
}

#results {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
}

.itinerary {
  padding: 0 20px 20px 20px;
}

.dates {
  padding: 20px 20px 20px 20px;
}

.itinerary label:first-child {
  margin-top: 0;
}

.city-search {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
}

.city-search input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.city-search label {
  display: block;
  font-size: 14px;
  color: gray;
  margin-top: 20px;
}

.city-search button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: mediumseagreen;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

.invisible {
  display: none;
}

#map {
  margin-top: 0;
  width: 100%;
  background-color: white;
}

.restart {
  box-sizing: border-box;
  display: block;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  margin-left:auto;
  margin-right:auto;
  background-color: mediumseagreen;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

.required::after {
  content: "*";
  color: red;
}

.city{
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
}

.icon-map {
  display: inline-block;
  width: 20px;
  height:20px;
  background-size: 25px;
}

.icon {
  width: 40px;
  height:40px;
}

.high{
  color:red;
}

.low{
  color:blue;
}

.high::after,
.low::after
{
  content: "\00B0";
}

.divider::after{
  content: "|";
  margin-right:5px;
  margin-left:5px;
}