body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/background.jpg");

  background-attachment: fixed;
}

h1 {
  color: white;
  font: bold 50px Raleway, Serif;
  text-shadow: -3px 3px 0 black;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 12px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.weather {
  font-family: "WeatherIcons";
  font-size: 40px;
}

body {
  box-sizing: border-box;
  background-color: LIGHTSKYBLUE;
}

#results {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.itinerary {
  padding: 0 20px 20px 20px;
}

.dates {
  padding: 20px 20px 20px 20px;
}

.itinerary label:first-child {
  margin-top: 0;
}

.city-search {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
}

.city-search input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.city-search label {
  display: block;
  font-size: 14px;
  color: gray;
  margin-top: 20px;
}

.city-search button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  text-shadow: -1px 1px 0 black;
  cursor: pointer;
}

.invisible {
  display: none;
}

#map {
  margin-top: 0;
  width: 100%;
  background-color: white;
}

.restart {
  box-sizing: border-box;
  display: block;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: coral;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  text-shadow: -1px 1px 0 black;
  cursor: pointer;
}

.required::after {
  content: "*";
  color: red;
}

.city {
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
}

.icon-map {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 25px;
}

.icon {
  width: 40px;
  height: 40px;
}

.high {
  color: red;
}

.low {
  color: blue;
}

.high::after,
.low::after {
  content: "\00B0";
}

.divider::after {
  content: "|";
  margin-right: 5px;
  margin-left: 5px;
}

#help {
  box-sizing: border-box;
  width: 100%;
  background-color: antiquewhite;
  font-size: 16px;
  padding: 10px 20px 20px 20px;
  border-radius: 20px;
}

/*
#help {
  position:absolute;
  right:0;
  width: 50%;
  background-color: antiquewhite;
  font-size: 16px;
  padding: 10px 20px 20px 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 550px) {

  #help {
    position:relative;
    width: 90%;
    margin-bottom: 4%;
  }
}
*/

#help-close {
  width: 100%;
  font-size: 16px;
  text-align: right;
}

#help-close a {
  text-decoration: none;
  margin-left: 10px;
  color: dimgray;
}

#help-close a:hover,
#help-close a:focus,
#help-close a:visited,
#help-close a:active {
  color: dimgray;
}
