html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/background.jpg");

  background-attachment: fixed;
}

h1 {
  color: white;
  font: bold 50px Raleway, Serif;
  text-shadow: -3px 3px 0 black;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 12px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.error-message {
  background-color: mistyrose;
  padding: 10px;
  line-height: 1.5;
  border: solid red 1px;
}

.invisible {
  display: none;
}

#map {
  height: 400px;
  margin-top: 0;
  width: 100%;
  background-color: white;
}

.restart {
  display: block;
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff5e24;
  color: white;
  border: none;
  font-size: 19px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  text-shadow: -1px 1px 0 black;
  cursor: pointer;
}

/*
* === Form Styles ===
*/
.base-form {
  width: 100%;
  background-color: white;
}

.base-form fieldset {
  border: 0;
}

.base-form legend {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.base-form label {
  display: block;
  font-size: 14px;
  color: dimgray;
  margin-top: 20px;
}

.base-form input {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.base-form select {
  display: block;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
  height: 40px;
  background-color: white;
}

.base-form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  font-size: 19px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  text-shadow: -1px 1px 0 black;
  cursor: pointer;
}

/* Disabled inputs and buttons */
.base-form input:disabled,
.base-form select:disabled {
  background: #dddddd;
}

.base-form button:disabled,
.base-form button[disabled] {
  cursor: default;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6)
  );
  color: white;
  text-shadow: none;
}

/* Additional form styling */
.required::after {
  content: "*";
  color: #eb0000;
}

.itinerary {
  padding: 0 20px 20px 20px;
}

.dates {
  padding: 20px 20px 20px 20px;
}

/*
* === WEATHER DISPLAY ===
*/
.city {
  font-size: 16px;
  display: inline-block;
  font-weight: bold;
}

.day {
  display: inline-block;
  position: relative;
  bottom: 1px;
  margin-right: 5px;
}

.icon-map {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 25px;
}

.icon {
  width: 40px;
  height: 40px;
}

.high {
  color: #eb0000;
}

.low {
  color: blue;
}

.high::after,
.low::after {
  content: "\00B0";
}

.divider::after {
  content: "|";
  margin-right: 5px;
  margin-left: 5px;
}

#results {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

/*
* === HELP MESSAGE ===
*/
#help {
  box-sizing: border-box;
  width: 100%;
  background-color: antiquewhite;
  font-size: 16px;
  padding: 10px 20px 20px 20px;
  border-radius: 20px;
}

#help-close {
  width: 100%;
  font-size: 16px;
  text-align: right;
}

#help-close a {
  text-decoration: none;
  margin-left: 10px;
  color: dimgray;
}

#help-close a:hover,
#help-close a:focus,
#help-close a:visited,
#help-close a:active {
  color: dimgray;
}
